{# loads path to static content#}
{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    {# the title is displayed in the tab header in the browser#}
    <title>Visualization Comparison</title>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    {#    <script src="https://d3js.org/d3.v5.js"></script>#}
    <script src="{% static 'construction/js/d3_visualizations.js' %}"></script>
</head>

<body>

<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option value="" selected disabled hidden>Please choose condition</option>
    <option value="http://localhost:8000/construction/condition1">Sunburst</option>
    <option value="http://localhost:8000/construction/condition2">Treemap</option>
    <option value="http://localhost:8000/construction/condition3">Dendrogram</option>
    <option value="http://localhost:8000/construction/condition4">Circlepacking</option>
    {#    <option value="http://localhost:8000/construction/condition5">Tree Viano</option>#}
    {#    <option value="http://localhost:8000/construction/condition6">Radial Dendrogram</option>#}
</select>

{% block content %}
{% endblock %}
</body>

</html>
