{% extends "construction/base.html" %}

{% block content %}

    <body>
    <h1>Willkommen!</h1>
    <p> Vielen Dank für deine Teilnahme an unserer Studie!
        Uns interessiert welche Ziele bzw. Zielsysteme
        Studierende haben. Vor allem geht es darum,
        was dir wirklich wichtig ist; vielleicht hast du
        Vorsätze für das Jahr? Was möchtest du im
        Studium erreichen? Was sind deine Ziele?
        Möchtest du einen bestimmten Abschluss
        machen, ins Ausland gehen, oder eine
        Fremdsprache lernen? Interessierst du dich für
        ein bestimmtes Themengebiet?
        Insgesamt wird die Bearbeitung des
        Fragebogens ungefähr 1 Stunde in Anspruch
        nehmen. Versuche so wenig Pausen wie möglich
        zu machen.
    </p>
    <a href="#">Zurück</a>
    <a href="#">Weiter</a>

    </body>
{% endblock %}
