{% extends "construction/base.html" %}

{% block content %}

    <body>
    <h1>Willkommen bei GoalTrees!</h1>
    <p>Welche Ziele verfolgst Du mit Deinem Studium und im Leben?
        <br>
        Viele Studierende können diese Frage ad-hoc nicht beantworten, obwohl es motivierend und sinnstiftend sein kann
        sich über die eigenen Bildungsziele im Klaren zu sein. Hier gibt es die Möglichkeit an wissenschaftlichen Studien
        teilzunehmen, dabei klare Ziele zu entwickeln, konkrete Handlungen abzuleiten und Feedback zu den Zielen zu bekommen.
        Dabei können auch Versuchspersonenstunden erworben werden.
    </p>
    Aktuell stehen folgende Studien zur Auswahl:
    <ul>
        {% for study in studies %}
            <li><a href={% url 'study' study.name %}>{{ study.description }}, Dauer ca. {{ study.duration }}h</a></li>
        {% endfor %}
    </ul>
    </body>
{% endblock %}
